header {
        display:flex;
				justify-content: space-between;;
				background: hsl(180, 50%, 50%);
				align-items: center;
}
nav ul {
        list-style: none;
				margin: 0;
				padding: 0;
				display: flex;
}
nav a {
				width: 50px;
				text-align: center;
				line-height: 32px;;
				display: block;
}
nav a:hover {
        background: #eee;
}
main {
        display: flex;
				margin: 32px;
}
.pic {
        width: 180px;
				margin-right: 32px;
				background: pink;
}
.desc {
        flex: 1;
}




html {
height:100%;
}
p {
       color: blue;
}
* {
        border-radius: 10px;
				font-family: monospace;
}
body {
				height: 80%;
}

footer {
        display:flex;
				justify-content: flex-end; 
				background: hsl(150, 50%, 50%);
				align-items: center;
}
footer ul {
        list-style: none;
				margin: 0;
				padding: 0;
				display: flex;
}
footer button {
       	width:100px;
				height: 32px;;
				margin-right: 16px;
				text-align: center;
				line-height: 32px;
				display: block;
				color: #fff;
				background: hsl(210, 50%, 50%);
				font-size: 24px;
}

