header {
        display:flex;
				justify-content: space-between;;
				background: hsl(180, 50%, 50%);
				align-items: center;
}
nav ul {
        list-style: none;
				margin: 0;
				padding: 0;
				display: flex;
}
nav a {
				width: 50px;
				text-align: center;
				line-height: 32px;;
				display: block;
}
nav a:hover {
        background: #eee;
}

main {
				height: 540px;
        display: flex;
				margin: 0px;
}
.leftside {
        margin: 0;
				padding: 0;
				width: 200px;;
				background: red;
				display: flex;
				flex-grow: 0;
}
.leftside ul {
        list-style: none;
				margin: 0;
				padding: 0;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				align-items: center;
}
.leftside ul li {
				font-size: 30px;
				padding: 10px 30px;
				box-sizing: border-box;
				width: 100%;
}
/*ここから*/

.rightside {
        flex-grow: 1;
				background: skyblue;
				overflow: scroll;
}
.pic img{
        width: 180px;
				background: pink;
				margin: 32px;
				margin-bottom: 0px;;
				float:left;
}
.desc {
}


html {
				height:100%;
}
p {
			 word-break: break-all;
       color: blue;
			 font-size: 30px;
}
* {
        border-radius: 10px;
}
body {
				height: 80%;
}


/*ここまで*/

footer {
        display:flex;
				justify-content: flex-end; 
				background: hsl(150, 50%, 50%);
				align-items: center;
				margin-top: 10px;
}
footer ul {
        list-style: none;
				margin: 0;
				padding: 0;
				display: flex;
}
footer button {
       	width:100px;
				height: 32px;;
				margin-right: 16px;
				text-align: center;
				line-height: 32px;
				display: block;
				color: #fff;
				background: hsl(210, 50%, 50%);
				font-size: 24px;
}
footer button:hover {
        background: #eee;
}
